body {
	/* we are declaring a global variable.
    A specific color and background color */
	--twitter-color: #50b7f5;
	--twitter-background: #e6ecf0;
}

.app {
	display: flex;
	height: 100vh;
	width: 100%;
}
